<?xml version="1.0" encoding="utf-8"?>
<odoo>


    <record model="ir.actions.act_window" id="action_fleet_driver">
        <field name="name">Driver</field>
        <field name="res_model">fleet.driver</field>
        <field name="view_type">form</field>
        <field name="view_mode">tree,form</field>
    </record>

    
    <menuitem id="fleet_driver_menu" name="Drivers" sequence="10" 
			parent="fleet.menu_root"/>
    
        <menuitem name="Drivers"
                id="fleet_driver"
                parent="fleet_driver_menu" 
                action="action_fleet_driver"
                sequence= "1"
                />
</odoo>
